

 @font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light-webfont.eot');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Oswald Regular Regular';
    src: url('../fonts/oswald-regular-webfont.eot');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans-bold-webfont.eot');
    font-weight: normal;
    font-style: normal;

}
	body {
		font-family: "League Gothic Regular", Arial,sans-serif;
		background: url(../img/bg.jpg) no-repeat 0 0;
		background-color: #ececec;
	
	 }
		.responsive-width-box {
		margin: 0 auto;
		position: relative;
		width: 940px;
		height: 100%;
 	}

 	 .header-section {
		height: 100%;
 	}

 	.header {
    	height: 275px;
 	}

	.header-box {
		position: relative;
		top: 23%;
		width: 98%;
		margin: 0 auto;
	}

	.header__logo {
		display: inline-block;
		font-size: 48px;
		filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=2, color=#999093);
		filter: progid:DXImageTransform.Microsoft.shadow(direction=180, color=#999093, strength=4);
	}

	.menu {
		width: 70%;
		float: right;
		display: inline-block;
		position: relative; 
	}

	.menu-list {
		width: 100%;
		filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=0, color=#999093);
		filter: progid:DXImageTransform.Microsoft.shadow(direction=180, color=#999093, strength=3);
	}

	.menu__item {
		display: inline-block;
		padding: 11px 25px;
	}
	
	.menu__item:hover .menu__link {
		border-bottom: 2px solid #edbfff;
	} 

	.menu-list-submenu {
		display: none;
	}

 	.main {
 		height: 400px;
 		background:transparent;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000); 
		
	}

 	.main-text {
		position: absolute;
		width: 53%;
		top: 50%;
		transform: translateY(-48%);
		left: 1%;
		filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=1, color=#000000);
		filter: progid:DXImageTransform.Microsoft.shadow(direction=180, color=#000000, strength=2);
	}

	.main-text__header {
		font-size: 48px;
		height: 60px;
		letter-spacing: -2.45px;
		filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=1, color=#000000);
		filter: progid:DXImageTransform.Microsoft.shadow(direction=180, color=#000000, strength=2);
	}

	.main-text__header-second:after {
		content: 'true';
	}

	.main-text__header-second {
		font-size: 24px;
		letter-spacing: -0.35px;
		filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=1, color=#000000);
		filter: progid:DXImageTransform.Microsoft.shadow(direction=180, color=#000000, strength=2);
	}

	.main-text-paragraph {
		padding-top: 4px;
	}
	
	.main-text-paragraph:after {
		content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptate quas rem voluptas eveniet, deleniti magni autem maiores. Quaerat nam enim ex, non fuga deserunt repellendus accusamus totam omnis illo deleniti tenetur quidem reiciendis id earum quod soluta voluptates eum. Ducimus aspernatur adipisci, suscipit, minima totam nihil soluta officia fuga! ';
	}

	.img-phone {
		top: -17px;
		width: 35%;
		height: 100%;
		display: inline-block;
		right: -7px;
	}

	.slaider {
		width: 65%;
		height: 168px;
		margin: 0 auto;
		clear: both;
		position: relative;
		text-align: right;
	}

	.slaider--list {
		top: 85px;
		position: relative;
		width: 15%;
		margin: 0 auto;
		float: right;
	}
	
	.sprite__list {
		top: 83px;
		left: 15px;
		overflow: hidden;
	}

	.sprite__list li {
		float: left;
		display: inline-block;
	}

	.sprite__link {
		background: url(../img/sprite2.png);
		width: 30px;
		display: inline-block;
	}

	.sprite__speach {
		background-position: -40px 0px;
		left: -23px;
		top: 12px;
	}

	.sprite__note {
		background-position: -75px 0px;
		top: 12px;
		left: -35px;
	}

	.sprite__settings {
		top: 12px;
		left: -33px;
	}

	.section-with-gradient {
		height: 342px;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#724f81,endColorstr=#33263a);
	}

	.shadow-box {
		filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=2, color=#000000);
		filter: progid:DXImageTransform.Microsoft.shadow(direction=135, color=#000000, strength=1);
	}

	.about-company-box {
		top: 50%;
		height: 200px;
		position: absolute;
		transform: translateY(-50%);
		right: 2%;
	}

	.about-company {
		width: 30%;
		display: inline-block;
		height: 100%;
		position: relative;
	}

	.about-company__left {
		float: left;
	}

	.about-company__left__header-icon {
		height: 25px;
	}

	.about-company__header {
		font-size: 29px;
		letter-spacing: -0.5px;
		padding-bottom: 7px;
		display: inline-block;
		position: relative;
		left: -13px;
	}

	.about-company__right {
		float: right;
	}

	.about-company__paragraph {
		line-height: 24px;
		padding-left: 66px;	
	}
	
	.about-company__paragraph:after {
		content: 'provident? Numquam quos tempore maiores vitae. ';
	}
	
	.about-company__link {
		padding: 23px 10px;
	}

	.section-whith-articles {
		height: 488px;
	}

	.starts-here-box {
		display: inline-block;
		position: relative;
		top: 21%;
		width: 47%;
		left: 2%;
	}

	.starts-here {
		margin-bottom: 20px;
	}

	.starts-here__header {
		font-size: 30px;
		display: inline-block;
		text-align: left;
		padding: 23px  0px 0px;
		position: relative;
		line-height: 39px;
	}

	.starts-here__img {
		display: inline-block;
		top: 16px;
		left: -15px;
	}

	.starts-here__paragraph {
		padding: 0px 47px;
		padding-bottom: 30px;
		line-height: 25px;
	}

	.starts-here__paragraph:after {
		content: 'voluptates possimus, autem aliquid, sunt quam veniam molestiae eveniet? Dolores inventore doloribus,sint provident illum facere, neque temporibus, architecto ex animi ';
	}
	.slaider--starts-here {
		position: static;
		height: 27px;
		display: block;
		text-align: center;
	}
	.slaider-list--starts-here {
		position: static;
		width: 100%;
	}

	.recent-updates-box {
		width: 47%;
		height: auto;
		float: right;
		display: inline-block;
		left: 0px;
	}

	.recent-updates-img {
		padding: 6px 0px;
	}

	.recent-updates__main-header {
		letter-spacing: 0px;
	}

	.recent-updates__header {
		display: inline-block;
		padding-left: 18px ;
		line-height: 32px ;
	}

	.recent-updates__header:after {
		content: 'sit amet';
	}

	.recent-updates__paragraph:after {
		content: '13 2012 in Resent News';
	}

	.recent-updates {
		width: 97%;
		height: 57px;
		margin: 7px 0;
	}

	.about-company__link--updates {
		padding: 16px;
	}

	.section-with-logos {
		height: 118px;
	}

	.logos {
		position: relative;
		top: 21%;
		left: 1.5%;
	}

	.logos__img {
		position: relative;
		display: block;
		height: 62%;
		width: 82%;
		margin: 0 auto;
	}

	.section-content {
		height: 398px;
	}

	.about-company--content {
		width: 29%;
	}

	.about-company-box--content {
		height: 250px;
		position: absolute;	
		top: 50%;
		left: 1%;
		transform: translateY(-44%);	
	}

	.header__logo--content {
		font-size: 48px;
		padding: 5px 0;
	}

	.about-company__header--content {
		font-size: 30px;
	}

	.about-company__header--content {
		padding: 8px 0px;
		position: static;
	}

	.about-company__paragraph--content {
    	padding: 0;
	}
	.about-company--content .about-company__paragraph--content:after {
    	content: 'accusantium dignissimos architecto maiores vitae Numquam quos.';
	}
	.section-with-footer {
		height: 112px;
	}

	.footer {
		height: 100%;
	}

	.design {
		width: 15%;
		display: inline-block;
		position: relative;
		top: 50px;
	}

	.design-phrase {
		font-size: 12px;
	}

	.menu--footer {
		float: left;
		top: 27%;
		display: inline-block;
		left: 1%;;
	}

	.menu__item--footer {
		padding: 15px 23px;
	}

	.menu__item--footer:first-child {
		padding-left: 0px;
	}

	.menu__item--footer:last-child {
    	padding-right: 20px;
	}

	.design {
		float: right;
	}



