	@media screen and (min-width: 480px) and (max-width: 767px) {
	.wrapper {
		width: 480px;
		margin: 0 auto;
		height: 100%;
 	}

 	.bg1 {
 		height: 498px;
 	}

 	.header {
 		position: relative;
 	}

 	.header__logo {
 		width: 35%;
 		margin: 0 auto;
 		letter-spacing: 1px;
 		font-size: 48px;
 		line-height: 80px;
 		text-shadow: 0px 2px 2px #6b6475;
 	}

 	.menu {
		width: 72%;
		display: block;
		text-align: center;
		z-index: 2;
		position: relative;
		margin: 0 auto;
	}

	.menu-list {
		border-radius: 9px;
		display: block;
		height: 256px;
		background-color: rgba(55,42,62,0.7);
	}

	.menu__item {
		display: block;
		border-bottom: 1px solid #523e5a;
		text-align: center;
		padding-top: 9px ;
		height: 33px;
		letter-spacing: 0.5px;
	}

	.menu__item:last-child,
	.menu__item:first-child {
		border-radius: 6px;
	}

	.menu__item:hover {
		display: block;
		background-color: rgba(13,4,19,0.7);
		border-bottom: 2px solid #edbfff;
		padding-top: 9px;
	}

	.menu__link {
		letter-spacing: 0.5px;
	}

	.bg2 {
		background-color: rgba(0, 0, 0, 0.25);
		height: 245px;
		top: -348px;
	}

	.main {
		margin: 0 32px;	
	}

	.main-text {
		width: 52%;
		margin: 80px 0 45px;
	}

	.main-text__header {
		font-size: 30px;
		height: 39px;
		letter-spacing: -2.55px;
		padding-top: 9px;
	}

	.main-text__header-second {
		letter-spacing: -1.2px;
	}

	.img-phone {
		height: 278px;
		top: -11px;
		width: 46%;
		display: inline-block;
	}

	.main-phone__img {
		width: 187px;
		display: block;
		height: 308px;
	}

	.slaider {
		position: relative;
		top: -337px;
	}

	.slaider--list {
		width: 30%;
	}

	.bg3 {
		height: 600px;
	}

	.about-company-box {
		display: block;
		width: 86%;;
		clear: both;;
		position: relative;
		margin: 0 auto;
		height: 80%;
		top: -203px;
	}

	.sprite__link {
		display: inline-block;
		width: 30px;
		background: url(../img/sprite768.png) 0 0 no-repeat;
	}

	.sprite__settings {
		top: 80px;
		position: relative;
		left: 26px;
	}

	.sprite__speach {
		top: 204px;
		background-position: -75px 0px;
		left: 31px;
	}

	.sprite__note {
		background-position: -75px 0px;
		top: 330px;
		left: 30px;
	}

	.about-company {
		color: white;
		height: 33%;
		width: 89%;
		text-align: left;
		padding: 0 11%;
	}

	.about-company__paragraph {
		line-height: 23px;
	}

	.about-company__paragraph:after {
		content: 'provident? Numquam quos tempore accusantium.';
	}

	.about-company__left {
		padding-top: 0;
	}

	.about-company__link {
		font-size: 17px;
		padding: 18px 3px;
	}

	.bg4 {
		height: 785px;
	}

	.starts-here-box {
		width: 86%;
		margin: 0 auto;
		box-sizing: border-box;
		display: block;
		border-top: 64px solid #f9f9f9;
	}

	.starts-here__img {
		left: -20px;
		top: -5px;
	}

	.starts-here {
		padding-bottom: 30px;
	}

	.starts-here__paragraph {
		width: 87%;
		padding: 4px 40px;
		line-height: 25px;
	}

	.starts-here__paragraph:after {
		content: 'voluptates possimus, autem aliquid, sunt quam veniam molestiae eveniet? Dolores inventore doloribus,sint provident illum facere, neque temporibus.';
	}

	.recent-updates-box {
		width: 80%;
		height: 39%;
		margin: 11% auto;
		border-top: 0;
	}

	.slaider--starts-here {
		position: relative;
		top: 17px;
		left: 0px;
	}

	.starts-here__header {
		font-size: 30px;
		padding: 27px  27px 0;
	}

	.slaider-list--starts-here {
		width: 22%;
	}

	.recent-updates__main-header {
		padding-top: 0;
	}

	.recent-updates {
		width: 90%;
		height: 16%;
		padding: 11px 30px;
	}

	.recent-updates__header {
		padding: 0px 0 0 64px;
	}

	.recent-updates__header:after {
		content: 'sit amet';
	}

	.recent-updates__paragraph:after {
		content: '13 2012';
	}

	.about-company__link--updates {
		padding: 2px 22px;
	}

	.bg5 {
		height: 233px;
	}

	.logos {
		 background: url(../img/logos480.png) no-repeat 25px 35px;
		height: 100%;
		width: 85%;
	  	margin: 0 auto;
	}

	.logos__img {
		display: none;
	}

	.bg6 {
		height: 607px;
	}

	.about-company-box--content {
		position: static;
		height: 83%;
		margin-top: 60px;
	}

	.about-company--content {
		padding: 0px 10px;
		height: 31%;
		width: 90%;
	}

	.header__logo--content {
		font-size: 30px;
		line-height: 50px;
	}

	.about-company__header--content {
		padding: 10px 0px;
	}

	.bg7 {
		height: 200px;
	}

	.menu--footer {
		width: 100%;
		display: inline-block;
		margin-top: 30px;
	}

	.menu-list--footer {
		background: none;
		border: 0;
		height: auto;
		width: 100%;
	}

	.menu__item--footer {
		padding: 13px 11px;
		border: 0; 
	}

	.menu__item--footer:first-child {
		padding-left: 10px; 
	}

	.design {
		text-align: center;
	}

	.design-phrase {
		padding-top: 6px;
	}

	.menu__item--footer:hover {
		display: block;
		background: none;
		border-bottom: 0;
		padding-top: 13px;
	}

	.menu__link--footer:hover{
		border-bottom: 2px solid #edbfff;
	}
}