@media screen and (min-width: 0px) and (max-width: 479px) {
	.wrapper {
			width: 768px;
			margin: 0 auto;
			height: 100%;
 		}

 		.bg1 {
 			height: 100%;;
 		}

 		.header {
 			margin: 107px auto 126px;
 		}

		.menu {
			width: 100%;
			display: block;
			float: left;
		}

		.menu__item  {
			padding: 22px 27px;
			display: inline-block;
		}

		.menu__item:first-child {
			padding-left: 0;
		}

		.menu__item:hover .menu__link {
			border-bottom: 2px solid #edbfff;
		}

		.header {
			height: 100%;
		}

		.header__logo {
			display: block;
			font-size: 48px;
		}

		.bg2 {
 			height: 400px;
 			background-color: rgba(0, 0, 0, 0.25);
 		}

		.main {
			margin: 0 25px;
			height: 400px;
		}
	
		.main .main-text {
			width: 40%;
		}

		.main-text {
			width: 54%;
			margin: 75px 0;
		}

		.main-text__header {
			font-size: 38px;
			height: 60px;
			padding-top: 15px;	
			letter-spacing: -2.45px;
		}

		.main-text__header-second {
			letter-spacing: -1.5px;
			width: 100%;
			font-size: 20px;
		}

		.main-text-paragraph {
			padding-top: 7px;
		}

		.main-text-paragraph:after {
			content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptate quas rem voluptas eveniet, deleniti magni autem maiores. Quaerat nam enim ex, non fuga deserunt repellendus';
		}

		.img-phone {
			display: inline-block;
			float: right;
			position: relative;
			width: 38%;
			top: -27px;
			right: 40px;
			height: 100%;
		}

		.slaider {
			margin: 60px auto ;
		}

		.slaider--list {
			width: 12%;
		}

		.sprite__list {
			overflow: hidden;
			top: 81px;
			left: 14px;
		}

		.sprite__list li {
			float: left;;
			display: inline-block;
		}

		.sprite__link {
			width: 29px;
			display: block;
			background: url(../img/sprite768.png) 0 0 no-repeat;
		}

		.sprite__speach {
			background-position: -75px 0px;
			position: relative;
			left: 226px;
		}

		.sprite__note {
			background-position: -75px 0px;
			position: relative;
			left: 458px;
		}

		.bg3 {
			height: 345px;
		}

		.about-company__header {
			font-size: 22px;
			letter-spacing: 0px;;
			text-align: left;
			padding-top: 25px;
		}

		.about-company-box {
			width: 91%;
			margin: 7% 7%;
			height: 68%;
		}

		.about-company {
			width: 25%;
			display: inline-block;
		}

		.about-company__left {
			float: left;
		}

		.about-company__right {
			float: right;
		}

		.about-company__paragraph:after {
			content: 'provident? Numquam quos tempore accusantium.';
		}

		.about-company__paragraph {
			width: 80%;
			line-height: 18px;	
		}

		.about-company__link {
			padding: 10px 17px;
		}

		.bg4 {
			height: 487px;
		}

		.starts-here-box .recent-updates-box {
			width: 45%;
		}

		.starts-here-box {
			width: 42%;
			margin: 13% 2% 1%;
			height: 65%;
			display: inline-block;
		}

		.starts-here {
			padding-bottom: 43px;
		}

		.starts-here__header {
			font-size: 25px;
			padding: 26px 8px 0px;
			letter-spacing: -1.0px;
		}
		
		.slaider-list--starts-here {
		}

		.recent-updates__main-header {
			padding: 33px 6px 0px;
			font-size: 30px;
			letter-spacing: 0;;
		}
		
		.starts-here__img {
			left: -13px;
			top: 19px;
		}

		.starts-here__header span {
			display: block;
			position: relative;
			top: -5px;
			padding: 0px 40px;;
		}

		.starts-here__paragraph {
			padding: 0px 48px;
			line-height: 24px;
		}
		.slaider-list--starts-here {
			width: 30%;
		}

		.recent-updates-box {
			width: 45%;
			height: 63%;
			margin: 12% 4% 0;
			float: right;;
			display: inline-block;
		}

		.recent-updates-img {
			padding: 6px 0px;
		}

		.recent-updates__main-header {
			font-size: 30px;
			letter-spacing: 0.25px;
		}

		.recent-updates {
			width: 95%;
			height: 60px;
			margin: 7px;	
		}

		.recent-updates__header {
			padding-left: 64px;
			padding-top: 6px;
			padding: 6px 0 6px 64px;
		}

		.recent-updates__header:after {
			content: 'sit amet';
		}

		.recent-updates__paragraph:after {
			content: '13 2012';
		}

		.bg5 {
			height: 120px;

		}

		.logos__img {
			padding: 28px 4px;
			display: block;
			width: 94%;
		}

		.bg6 {
			height: 314px;
		}

		.about-company-box--content {
			margin: 85px auto 0;	
		}

		.about-company--content {
			width: 31%;
		}

		.header__logo--content {
			padding: 10px 3px;
			letter-spacing: 0.5px;
			font-size: 24px;
		}

		.about-company__header--content {
			font-size: 24px;
			letter-spacing: 0.1px;
			padding: 13px 0;
			width: 100%;
			text-align: left;
		}

		.bg7 {
			background-repeat: repeat-y;
			width: 100%;
			height: 200px;
		}

		.footer {
			height: auto;
		}

		.design {
			width: 19%;
			display: block;
			margin: 0 30px;
		}

		.design-phrase {
			font-size: 12px;
		}

		.footer {
			width: 100%;
			color: white;
			text-shadow: 0px 3px 2px #616266;
		}

		.menu--footer {
			display: block;
			margin: 25px 0;
		}

		.menu__item--footer {
			padding: 14px 23px;
		}

		.menu__item--footer:first-child {
			padding-left: 0px;
		}

		.design {
			float: right;
		}

}