* {
	margin: 0;
	padding: 0;
}

	body {
		font-family: "League Gothic Regular", Arial,sans-serif;
		background: url(../img/bg.jpg) no-repeat 0 0;
		background-color: #ececec;
	
	 }

 @font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light-webfont.eot');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Oswald Regular Regular';
    src: url('../fonts/oswald-regular-webfont.eot');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans-bold-webfont.eot');
    font-weight: normal;
    font-style: normal;

}
/*@media screen and (min-width: 960px) {*/
	.wrapper {
		margin: 0 auto;
		height: 100%;
		width: 960px;
 	}

 	 .bg1 {
 		height: 100%;;
 	}

 	.header {
 		margin: 75px auto 159px;
 	}

	.header__logo {
		display: inline-block;
		font-size: 48px;
		filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=2, color=#999093);
		filter: progid:DXImageTransform.Microsoft.shadow(direction=180, color=#999093, strength=4);
	}

	.menu {
		width: 69%;
		display: inline-block;
		float: right; 
	}

	.menu-list {
		width: 100%;
		list-style: none;
		display: inline;
		filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=0, color=#999093);
		filter: progid:DXImageTransform.Microsoft.shadow(direction=180, color=#999093, strength=3);
	}

	.menu__item {
		display: inline-block;
		padding: 11px 27px;
	}

	.menu__item:hover .menu__link {
		border-bottom: 2px solid #edbfff;
	}

	.bg2 {
 		height: 400px;
 		background:transparent;
       	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000); 
 	}	

 	.main {
		height: 400px;
		margin: 0 25px;
 		filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=1, color=#000000);
		filter: progid:DXImageTransform.Microsoft.shadow(direction=180, color=#000000, strength=2);
	}
 	.main-text {
		width: 54%;
		margin: 75px 0;
	}

	.main-text__header {
		font-size: 48px;
		height: 60px;
		letter-spacing: -2.45px;
	}

	.main-text__header-second:after {
		content: 'true';
	}

	.main-text__header-second {
		font-size: 24px;
		letter-spacing: -0.35px;
	}

	.main-text-paragraph {
		padding-top: 7px;
	}
	
	.main-text-paragraph:after {
		content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptate quas rem voluptas eveniet, deleniti magni autem maiores. Quaerat nam enim ex, non fuga deserunt repellendus accusamus totam omnis illo deleniti tenetur quidem reiciendis id earum quod soluta voluptates eum. Ducimus aspernatur adipisci, suscipit, minima totam nihil soluta officia fuga! ';
	}

	.img-phone {
		top: -17px;
		right: 10px;
		width: 35%;
		height: 100%;
		display: inline-block;
	}

	.slaider {
		width: 100%;
		margin: 69px auto;
	}

	.slaider--list {
		width: 12%;
	}

	.sprite__list {
		top: 83px;
		left: 15px;
		overflow: hidden;
	}

	.sprite__list li {
		float: left;;
		display: inline-block;
	}

	.sprite__link {
		display: block;
	}

	.sprite__speach {
		left: 300px;
		background-position: -40px 0px;
	}

	.sprite__note {
		background-position: -75px 0px;
		left: 606px;
	}

	.sprite__link {
		width: 30px;
		background: url(../img/sprite2.png) 0 0 no-repeat;
	}

	.bg3 {
		height: 340px;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#724f81,endColorstr=#33263a);
	}

	.shadow-box {
		filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=2, color=#000000);
		filter: progid:DXImageTransform.Microsoft.shadow(direction=135, color=#000000, strength=1);
	}
	.about-company__header {
		font-size: 29px;
		letter-spacing: -0.5px;
		padding-top: 8px;
	}

	.about-company-box {
		width: 91%;
		text-align: center;
		margin: 7% 7%;
	}

	.about-company {
		width: 23%;
		display: inline-block;
	}

	.about-company__left {
		float: left;
	}

	.about-company__right {
		float: right;
	}

	.about-company__paragraph {
		line-height: 18px;	
	}
	
	.about-company__paragraph:after {
		content: 'provident? Numquam quos tempore accusantium dignissimos architecto maiores vitae.';
	}
	
	.about-company__link {
		padding-top: 18px;
	}

	.bg4 {
		height: 488px;
	}

	.starts-here-box {
		width: 47%;
		height: 52%;
		margin: 12% 0.5% 1%;
		display: inline-block;
	}

	.starts-here {
		margin-bottom: 20px;
	}

	.starts-here__header {
		font-size: 30px;
		padding: 11px 0px 0px;
	}

	.starts-here__img {
		left: -2px;
		top: 5px;
	}

	.starts-here__paragraph {
		padding: 0px 40px;
		padding-bottom: 30px;
	}

	.starts-here__paragraph:after {
		content: 'voluptates possimus, autem aliquid, sunt quam veniam molestiae eveniet? Dolores inventore doloribus,sint provident illum facere, neque temporibus, architecto ex animi est nisi assumenda eveniet eaque quae.';
	}
	
	.slaider-list--starts-here {
		width: 22%;
		margin: 0 auto;
	}
	.slaider--starts-here {
		margin: 0px;
	}

	.recent-updates-box {
		width: 46%;
		height: auto;
		float: right;;
		display: inline-block;
	}

	.recent-updates-img {
		padding: 6px 0px;
	}

	.recent-updates__main-header {
		letter-spacing: 0px;
	}

	.recent-updates__header {
		padding-left: 62px ;
	}

	.recent-updates__header:after {
		content: 'sit amet';
	}

	.recent-updates__paragraph:after {
		content: '13 2012 in Resent News';
	}

	.recent-updates {
		width: 96%;
		height: 55px;
		margin: 10px 0px;
	}

	.about-company__link--updates {
		padding: 9px 17px;
	}

	.bg5 {
		height: 118px;
	}

	.logos__img {
		height: 100%;
		display: block;
		padding: 24px 100px;
		width: 80%;;
	}

	.bg6 {
		height: 310px;
	}

	.about-company--content {
		width: 29%;
	}

	.about-company-box--content {
		margin: 85px auto 0;	
	}

	.header__logo--content {
		font-size: 48px;
		padding: 5px 0;
	}

	.about-company__header--content {
		font-size: 30px;
	}

	.about-company__header--content {
		padding: 8px 0px;
	}

	.bg7 {
		width: 100%;
		background-image: url(../img/footer.png);
		height: 112px;
	}

	.design {
		width: 15%;
		display: inline-block;
	}

	.design-phrase {
		font-size: 12px;
		top: 50px;
		left: 10px;
	}

	.menu--footer {
		margin: 28px 0;
		display: inline-block;
		float: left;
	}

	.menu__item--footer {
		padding: 15px 23px;
	}

	.menu__item--footer:first-child {
		padding-left: 0px;
	}

	.design {
		float: right;
	}

/*} */



