	@media screen and (min-width: 0) and (max-width: 479px) {
	.wrapper {
		margin: 0 auto;
		height: 100%;
		width: 320px;
 	}

 	.bg1 {
 		height: 467px;
 	}

 	.header {
 		position: relative;
 	}

 	.header__logo {
 		text-align: center;
 		margin: 0 auto;
 		letter-spacing: 1px;
 		font-size: 48px;
 		line-height: 80px;
 		text-shadow: 0px 2px 2px #6b6475;
 	}

 	 .menu-list {
 		text-align: center;
 	}

 	.menu__item:hover .menu__link {
 		border-bottom: 2px solid #edbfff;
 		width: 25px;
 	}

 	.menu__item {
 		display: none;
 	}

 	.menu__item:first-child {
 		display: block;
 		padding: 11px 0;
 	}

 	.bg2 {
 		height: 65px;
 		top: -227px;
 	}

 	.main {
 	}

 	.main-text {
 		font-size: 19px;
 		padding-left: 55px;
 	}

 	.main-text__header {
		word-spacing: -2px;
		letter-spacing: -1.5px;
		text-align: left;
 	}

 	.main-text__header-second {
 		font-size: 16px;
 		letter-spacing: -1px;
 	}

 	.img-phone {
 		display: none;
 	}

 	.slaider {
		width: 27%;
		top: -213px;
		position: relative;
		margin: 0 auto;
	}
	.bg3 {
		height: 600px;
	}

	.sprite__link {
		display: inline-block;
		width: 30px;
		background: url(../img/sprite768.png) 0 0 no-repeat;
	}

	.sprite__settings {
		top: 71px;
		position: relative;
		left: 25px;
	}

	.sprite__speach {
		top: 194px;
		left: 28px;
		background-position: -75px 0px;
	}

	.sprite__note {
		top: 333px;
		left: 26px;
		background-position: -75px 0px;
	}

	.about-company-box {
		width: 67.5%;
		height: 77%;
		margin: 70px auto;
	}

	.about-company {
		height: 33%;
		width: 100%;
	}

	.about-company__right {
		padding-top: 20px;
	}

	.about-company__paragraph {
		width: 95%;
		padding-left: 24px;
	}

	.about-company__header {
		width: auto;
		padding-right: 10px;
		text-shadow: 1px 1px 1px black;
	}

	.about-company__link {
		padding-top: 21px;
	}

	.bg4 {
		height: 785px;
	}

	.starts-here-box {
		width: 80%;
		display: inline-block;
		margin: 70px 40px 0;
		height: 40%;
		position: relative;
	}

	.starts-here__header {
		text-align: left;
		left: -19px;
		position: relative;
		padding-top: 18px;
	}

	.starts-here__header  span {
		display: block;
	}

	.starts-here__paragraph {
		padding: 0 37px 29px;
		line-height: 24px;	
	}

	.starts-here__img {
		left: -25px;
		top: 15px;
		position: absolute;
	}
	.slaider--starts-here {
		position: static;
		margin: 25px auto;
	}
	
	 .slaider-list--starts-here {

		width: 35%;
		margin: 10px auto;
 	}
	.recent-updates-box {
		margin: 36px 15px;
		width: 85%;	
	}

	.recent-updates__main-header {
		font-size: 30px;
		padding-top: 4px;
		padding-left: 18px;
	}

	.recent-updates {
		padding: 11px 0;
		height: 15%;
	}

	.recent-updates__header {
		text-align: center;
		padding: 3px 40px;
	}

	.about-company__link--updates {
		padding-top: 10px;
	}

	.bg5 {
		height: 422px;	
	}

	.logos {
		background: url(../img/logos320.png) no-repeat 0 52px;
		height: 100%;
		width: 80%;
		margin: 0 auto;
	}

	.logos__img {
		display: none;
	}

	.bg6 {
		display: none;
	}

	.bg7 {
		height: 200px;
	}

	.menu--footer {
		display: none;
	}

	.design {
		width: 100%;
		text-align: center;
		padding-top: 40px ;
	}
}